.container {
  margin-top: 2rem;
  width: 650px;

  ul {
    margin-top: 2rem;
    list-style-type: none;
    margin-bottom: 20px;
  }

  li {
    display: flex;
    flex-direction: column;

    h2 {
      margin-top: 10px;
    }

    p,
    small {
      margin-top: 0.6rem;
    }

    small {
      color: #ffffff90;
    }

    padding-bottom: 0.9rem;
    border: 1px solid #ffffff90;
    border-radius: 10px;
    padding: 20px;

    transition: filter 0.2s;
  }

  li + li {
    margin-top: 1rem;
  }

  li:hover {
    cursor: pointer;
    filter: brightness(0.8);
  }

  @media (max-width: 640px) {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-top: 0.1rem;
  }
}

.infoWrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;

  img {
    border-radius: 100px;
  }

  label {
    margin-left: 5px;
    font-weight: bold;
  }

  label + label {
    margin-left: auto;
    font-weight: 500;
  }
}
