.container {
  
  display: flex;
  flex: 1;
  width: 650px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5rem;

  :first-child {
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 2rem;
    }
    p {
      margin-top: 0.4rem;
    }
    label {
      margin-top: 2rem;
      color: var(--gray-300);
    }
  }

  img {
    border-radius: 100px;
  }
}
